body {
    background-color: #c4c4c4;
}

header {
    background-color: #ffffff;
}

nav {
    background-color: #726666;
}

footer {
    background-color: #ffffff;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    padding: 1rem;
    background-color: #ffffff;
}
.card__img-top {
    margin-bottom: 1rem;
    width: 288px;
    height: 182px;
}
/* For PC screen*/
@media screen and (min-width: 1200px) {

    .card__title {
        color: #000000;
        font-size: 14px;
    }
    
    .card__description {
        color: #282828;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    /*説明の文字が小さくなるようにする*/
    .card__title {
        color: #000000;
        font-size: 10px;
    }
    .card__description {
        color: #282828;
        font-size: 8px;
    }
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /*スマートフォンで説明の文字が非表示になる*/
    .card__title {
        color: #000000;
        font-size: 10px;
    }
    .card__description {
        color: #282828;
        font-size: 8px;
        display: none;
    }
}
